---
layout: 'base.njk'
stylesheet: '../projectStyle.css'
---

{% if demoAvailable %}
    {{ content }}
{% else %}
    <article>
    {# <img class="thumbnail" src=" {{ thumbnail }} "> #}
        {{ content | safe }}
    </article>
{% endif%}
