---
title: testing
layout: 'base.njk'
---

<section class="hero">
    <div id="particles-js"></div>
    <div class="hero-title">
        <h1>
            My Name is Ryan Bush&nbsp;
        </h1>
        <h2>
            HTML / CSS / JS / C
        </h2>
        <a href="#projects" class="btn">See My Work</a>
    </div>
</section>
<section class="purple-bg" id="projects">
    <h1>Who I am</h1>
</section>
<section class="light-bg">
    <h1>My Projects</h1>
    <ul role="list" class="projects">
         {%- for project in collections.project | reverse -%}
            <li>
                <div class="flex">
                    <article class="snippet">
                        <h2 class="snippet-title">{{ project.data.title }}</h2>
                        <p class="snippet-text">{{ project.data.snippetText }}</p>
                        <div class="flex">
                            <a href="{{ project.url }}" class="btn btn-alt showcase">Read more</a>
                            <a href="{{ project.data.gitUrl }}" class="btn btn-alt showcase">View in Github</a>
                        </div>
                    </article>
                    <img src="{{ thumbnail }}">
                </div>
            </li>
        {%- endfor -%}
    </ul>
</section>
<script src="particles.min.js"></script>
<script src="main.js"></script>