*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --neutral-light: #dbdbdb;
    --neutral-dark: #cfcfcf;
    --accent-light: #533fd4;
    --accent: #4428c0;
    --accent-dark: #552888;
    /* --accent: #286fc0; */
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    position: absolute;
    left: 0;
    min-height: 100vh;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    background-color: var(--neutral-light);
    overflow-x: hidden;
}

section {
    font-size: clamp(1.25rem, 3vw, 2rem);
    min-height: 100vh;
    padding: 1em;
    text-align: center;
}

section h1 {
    text-transform: lowercase;
}

.hero {
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%), var(--neutral-dark);
    font-weight: 900;
    display: grid;
    place-items: center;
}

.hero-title {
    user-select: none;
    margin: 6em;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    text-align: center;
    z-index: 1;
}

.hero-title h1 {
    text-transform: lowercase;
    text-align: left;
    position: relative;
    color: var(--accent);
    font-size: 4em;
    text-shadow: var(--neutral-light) 0em 0em 0.25em;
    margin-bottom: 0;
    /* text-decoration: underline; */
}

.hero-title h1::after {
    content: '.';
    position: absolute;
    margin-left: -0.25em;
}

@keyframes strike {
    to {
        width: 0.1em;
    }
}

@keyframes period {
    to {
        transform: scale(1.5);
        top: 70%;
    }
}

.hero-title h2 {
    text-transform: none;
    text-align: left;
    font-size: 1.125em;
}

.btn {
    text-decoration: none;
    color: var(--accent);
    border-radius: 100vh;
    font-size: 1.5em;
    padding: 1em 2em;
    margin-top: 3em;
    display: inline-block;
    /* background-color: #f5f5f5; */
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0.16em 0.16em rgba(0, 0, 0, 0.25);
    transform: scale(1);
    transition: transform 500ms, background-color 500ms, color 500ms;
    text-transform: lowercase;
    font-weight: 900;
}

.btn-alt {
    background-color: rgba(0, 0, 0, 0);
    border: 0.2em solid var(--accent);
}

.hero .btn {
    background-color: #f5f5f5;
}

.showcase {
    font-size: 0.5em;
}

.btn:focus {
    color: #FFF;
    transform: scale(1.1);
    background-color: var(--accent);
}

.light-bg {
    color: var(--accent);
    
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%), var(--neutral-dark);
    /* linear-gradient(135deg, var(--accent), var(--accent-dark)); */
}

.purple-bg {
    color: var(--neutral-light);
    background: radial-gradient(50% 50% at 50% 50%, rgba(225, 0, 255, 0.25) 0%, rgba(255, 0, 255, 0) 100%), var(--accent);
}

@media (hover: hover) {
    .btn:hover {
        color: #FFF;
        transform: scale(1.1);
        background-color: var(--accent);
    }
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

.projects li {
    padding: 1em;
    text-align: left;
    width: 30em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    gap: 2em;   
}

.flex img {
    width: 15em;
    max-width: 90%;
}

.btn-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

p {
    font-size: 0.8em;
    color: black;
}

@media (min-width: 45rem) and (prefers-reduced-motion: no-preference) {
    .hero-title h1::after {
        content: '';
        position: absolute;
        right: 0;
        width: 100%;
        top: 85%;
        background-color: var(--accent);
        border-radius: 100vw;
        height: 0.1em;
        transform-origin: right;
        animation: strike 500ms 1s forwards, period 500ms 1500ms forwards;
    }
    .flex {
        flex-direction: row;
        justify-content: space-between;
    }
}
