:root {
    --neutral-light: #dbdbdb;
    --neutral-dark: #cfcfcf;
    --accent-light: #533fd4;
    --accent: #4428c0;
    --accent-dark: #17001d;
    /* --accent: #286fc0; */
}

html {
    min-height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%), var(--neutral-dark);
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.MathJax {
    font-size: clamp(0.75em, 2vw + 0.1em, 1.25em) !important;
    text-indent: 0 !important;
}

img {
    display: block;
    margin: 2em auto;
    width: 85%;
    border-radius: 3vw;
}

i {
    margin-top: -1.8em;
    display: block;
    text-indent: 0;
    text-align: center;
    font-weight: normal;
}

/* .thumbnail {
    min-width: 75%;
    width: 60%;
    max-width: 60rem;
    

} */

article {
    font-family: Roboto;
    width: 90%;
    max-width: 55rem;
    margin: 0 auto;
}

article p {
    text-indent: 4rem;
    font-size: 1.25em;
}

article h1 {
    font-size: 2.5em;
    text-align: center;
    color: var(--accent);
}

article h2 {
    /* text-indent: 4rem; */
    text-align: center;
    color: var(--accent);
    font-size: 1.75em;
}